@import "variables";


.cont-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 85%;
    height: 75px;
}

.nav__menu{
    /*parte para que aparezca y desaparezca el menu*/
    position: fixed;
    top: 110px;
    bottom: 0;
    background-color: $color-defecto-pag ;
    border-top: 1px solid $text333;
    width: 100%;
    height: 260px;
    left: 0;
    transform: translatex(100%); 
    transition: transform 0.5s;
    border-radius: 2px;
    
}

.nav__input:checked + .nav__menu{
    transform: translateX(35%);
}
.nav__input{
    display: none;
}

.nav__item{
    display: flex;
    flex-direction: column;
    padding: 15px 0px 9px 8px;
    width: 100%;
    color: $white;
}


/**/
.cart i{
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    margin-left: 10px;
}

.cart__primera img{
    width: 25px;
    filter: invert(1);
    margin-left: 10px;
}

.nav__label img{
    margin-left: 10px;
    filter: invert(1);
    width: 30px;
}
/**/

.logo a{
    padding: 3px;
    border-bottom: 2px solid #fff;
    border-radius: 10px;
    margin-right: 15px;
}
